@use "variables" as v;

@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}
@mixin desktopXL {
  @media (min-width: v.$desktopXL) {
    @content;
  }
}

@mixin grid($columnas, $gap) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $gap;
}

@mixin resetear-lista {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin glassBg {
  backdrop-filter: blur(8px) saturate(150%);
  -webkit-backdrop-filter: blur(8px) saturate(150%);
  background-color: rgba(2, 2, 2, 0.3);
  border-radius: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@mixin glassWhiteBg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

@mixin glassGrayBg{
  backdrop-filter: blur(15px) saturate(125%);
  -webkit-backdrop-filter: blur(15px) saturate(125%);
  background-color: rgba(59, 59, 60, 0.38);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@mixin glassBlack {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.71);

}

